<div class="col-md-8" style="margin-left:15%;text-align:center;margin-top: 5%;">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office Location</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
            <td>{{employee.name}}</td>
            <td>{{employee.position}}</td>
            <td>{{employee.location}}</td>
            <td><button class="btn btn-warning">Edit</button> 
              <button class="btn btn-danger"(click)="emp_del(employee)">Delete</button></td>
        </tr>
        </tbody>
    </table>
</div>
