<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
   
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse"
        id="navbarButtonsExample"
      >
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Employee Dashboard</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
          <button type="button" routerLink=""class="btn btn-primary px-3 me-2">
            Home
          </button>
          <button type="button" routerLink="/form"class="btn btn-primary me-3">
            Employee Form
          </button>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->